@model IEnumerable<PortalCongreso.DataBase.Congreso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="~/Repositorio/Index">
    <p>
        Título:<input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
    </form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentroEstudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coleccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1Autor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2Autor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1Autor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2Autor1)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Apellido1Autor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2Autor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1Autor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2Autor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1Autor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2Autor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1Autor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2Autor3)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TituloObra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tematica)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tematica2)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TipoDoc)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NumeroVolumen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Legislatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Liga_)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentroEstudio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coleccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1Autor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2Autor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1Autor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2Autor1)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Apellido1Autor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2Autor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1Autor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2Autor2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1Autor3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2Autor3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1Autor3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2Autor3)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TituloObra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tematica)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Tematica2)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TipoDoc)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.NumeroVolumen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Legislatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abstract)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Liga_)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
